<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  
</head>

<style>

</style>
<body>
    <pre>
        <a style="margin-top: 10px;" href="event_register.html">Add event</a>
    </pre>
    <div class="container p-5 p-5 p-5">
        <div class="row">
            <div class="col-10">
                <table class="table tab ml-5 m-5">
                    <tr class="bg-success">
                        <th class="padding">Venue</th>
                        <th>Availability</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Booked By</th>
                        <th>Contact No</th>
                        <th>Book</th>
                    </tr>
                    <tr  class="table-primary">
                        <td>
                            <%= venue1 %>
                        </td>
                        <td>
                            <%=availability1%>
                        </td>
                        <td>
                            <%=starttime1%>
                        </td>
                        <td>
                            <%=endtime1%>
                        </td>
                        <td>
                            Charan
                        </td>
                        <td>
                            <%=phno1%>
                        </td>
                        <td>
                            <button class="btn btn-primary">Book</button>
                        </td>
                    </tr>
                   

    
</body>
</html>